@model RWA_FinalProject.Models.Racun

<div>
    <h4>Racun</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDRacun)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDRacun)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumIzdavanja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumIzdavanja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrojRacuna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrojRacuna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Komentar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Komentar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KreditnaKarticaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KreditnaKarticaID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KomercijalistID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KomercijalistID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
