@model RWA_FinalProject.Models.vm.VMRacunStavke

@{
    ViewBag.Title = "Prikaz";
    var proizvodi = ViewBag.proizvodi as IEnumerable<RWA_FinalProject.Models.Proizvod>;
}

<h2>Detalji</h2>


<div>
    <h4>Racun</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Racun.IDRacun)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Racun.IDRacun)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Racun.DatumIzdavanja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Racun.DatumIzdavanja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Racun.BrojRacuna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Racun.BrojRacuna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Racun.Komentar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Racun.Komentar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Racun.Komercijalist)
        </dt>

        <dd>
            @{
                var fullName = Model.Racun.Komercijalist.Ime + " " + Model.Racun.Komercijalist.Prezime;
                @Html.DisplayFor(model => fullName)
                
             }

            </dd>



        <dt>
            @Html.DisplayNameFor(model => model.Racun.KreditnaKartica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Racun.KreditnaKartica.Tip)
        </dd>





    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Stavke.First().IDStavka)
        </th>
        <th>
            Proizvod
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stavke.First().Kolicina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stavke.First().CijenaPoKomadu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stavke.First().PopustUPostotcima)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stavke.First().UkupnaCijena)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Stavke)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDStavka)
            </td>
            <td>
                @{
                    var proizvod = proizvodi.Where(p => p.IDProizvod == item.ProizvodId).First().Naziv;
                    @Html.DisplayFor(model => proizvod)

                }
                @Html.Display((proizvodi.Where(p => p.IDProizvod == item.ProizvodId)).ToString())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kolicina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CijenaPoKomadu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PopustUPostotcima)%
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UkupnaCijena) kn
            </td>
            
        </tr>
    }

</table>
