@model IEnumerable<RWA_FinalProject.Models.Stavka>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDStavka)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RacunID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kolicina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CijenaPoKomadu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PopustUPostotcima)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UkupnaCijena)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDStavka)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RacunID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kolicina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CijenaPoKomadu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PopustUPostotcima)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UkupnaCijena)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
