@model RWA_FinalProject.Models.vm.VMKategorijePotkategorije

@{
    ViewBag.Title = "Details";
}

<h2>Index</h2>

<div>
    <h4>Racun</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.kategorija.IDKategorija)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kategorija.IDKategorija)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kategorija.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kategorija.Naziv)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.kategorija.IDKategorija }) |
    @Html.ActionLink("Back to List", "Index", "Kategorije")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Podkategorije.First().IDPotkategorija)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Podkategorije.First().Naziv)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.Podkategorije)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDPotkategorija)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", "Potkategorije", new { id = item.IDPotkategorija }, new { @class = "btn btn-primary btn-sm" }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Create", "Create", "Potkategorije", new { id = Model.kategorija.IDKategorija }, new { @class = "btn btn-primary btn-sm" })
</p>

