@model RWA_FinalProject.Models.vm.VMKategorijePotkategorije

@{
    ViewBag.Title = "Details";
}

<h2>Index</h2>

<div>
    <h4>Racun</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.kategorija.IDKategorija)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kategorija.IDKategorija)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kategorija.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kategorija.Naziv)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.kategorija.IDKategorija }) |
    @Html.ActionLink("Back to List", "Index", "Kategorije")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Podkategorije.First().IDPotkategorija)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Podkategorije.First().Naziv)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.Podkategorije)
    {
        <tr id="@item.IDPotkategorija">
            <td>
                @Html.DisplayFor(modelItem => item.IDPotkategorija)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit","Potkategorije", new { id = item.IDPotkategorija }) |
                @Html.ActionLink(
               linkText: "Delete",
               actionName: "Delete",
               controllerName: "Potkategorije",
               htmlAttributes: new
               {
                   @class = "btn btn-danger btn-sm",
                   data_id = item.IDPotkategorija,
                   data_name = item.Naziv
               },
               routeValues: new { id = item.IDPotkategorija })
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Create", "Create", "Potkategorije", new { id = Model.kategorija.IDKategorija }, new { @class = "btn btn-primary btn-sm" })
</p>


@section Scripts {

    <script>
        $('.btn-danger').on('click',function (e) {
            e.preventDefault();
            const { id, name } = this.dataset;

            if (confirm(`Obrisati potkategoriju ${name}`)) {
                $.ajax({
                    url: '@Url.Action(controllerName: "Potkategorije", actionName: "Delete")',
                    data: { id },
                    statusCode: {
                        200: function () {
                            $(`#${id}`).hide(500);
                        },
                        400: function () {
                            console.log("Greska");
                        }
                    }
                })
                    .done(function (data) {
                        console.log(data);
                    })
                    .fail(function (error) {
                        console.log(eror);

                    });
            }
        })
    </script>
}

